.sortable-container-active {
  border: 1px solid red !important;
}

.sortable-item {
  pointer-events: auto !important;
}

.sortable-container > .sortable-item:hover {
  cursor: grab;
}

body > .sortable-item:hover {
  cursor: grabbing;
}
